{% extends 'baseUserprofile.html' %}

{% block head %}
<style>
    .wrapper{
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
    th,td {
        padding-left: 15px;
    }
    .jumbotron{
        -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px black;
    }
</style>
{% endblock %}

{% block body %}

{% for order in orders  %}
<div class="container-fluid">
    <div class="jumbotron wrapper">
        <div class="order-info">
            <h1>Order number: {{order[0][4]}}</h1>
            <h1>UserID: {{order[0][7]}}</h1>
        </div>
        <hr class="my-4">
            <table class="table table-dark table-striped">
                <tr>
                    <th>Article</th>
                    <th>Amount</th>
                    <th>Price/item</th>
                    <th>Item total</th>
                </tr>
                {% for item in order%}
                    <tr>
                        <td>{{item[1]}}</td>
                        <td>{{item[3]}}</td>
                        <td>{{item[2]}} :-</td>
                        <td>{{item[5]}} :-</td>
                    </tr>
                {%endfor%}
                <tr>
                    <td><b>Total:</b></td>
                    <td></td>
                    <td></td>
                    <td><b>{{order[0][6]}}:-</b></td>
                </tr>
            </table>             
        <hr class="my-4">
        <form method="POST">
            <button class="btn btn-danger" value="{{order[0][4]}}" name="remove_order">Remove order</button>
        </form>   
    </div>
</div>
{%endfor%}
{% endblock %}