<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> 
    <link rel="icon" href="../static/images/logga.png" type="image/x-icon">
    {% block head %} {% endblock %} <!-- Start of unique header tag-->

    <!-- Start of base.html CSS -->
    <style>
      #johans-bild{
        width: 20%;
        height: 20%;
      } 
      .icon{
        width: 10%;
      }
      .costum-nav{
        margin-bottom: 500px;
      }
      .varukorg{
        width: 21%;
        border-radius: 5px;
      }
      #footer{
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 100px;
        border: 0.5px solid grey;
        background-color: white;
        border-radius: 5px;
      }
      .logga{
        width: 100px;
        height: 100px;
      }
    </style>  <!-- end of base.html CSS -->
</head>
<body>

  <!-- Start of navigation Bar  -->

  <nav class="navbar fixed-top navbar-dark navbar-expand-xl navbar-light bg-dark">
    <a class="navbar-brand" href="/"> <img src="../static/images/logga.png" alt="" class="logga">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if session['name'] %}  <!-- If login in-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown activate">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login as {{ session['name']}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
      {% else %} <!-- if not logged in-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown activate">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/register">Register</a>
          </div>
        </li>
      </ul>
      {% endif %}
      <!-- login start-->
      <!--

     
    <div class="collapse navbar-collapse costum-login" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form class="px-4 py-3" method="POST">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="Email_input">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password_input">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Remember me
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/register">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
        </li>
      </ul>
    </div><!-- end login -->
  
      <form class="form-inline" method="POST" >
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search for</span>
          </div>
          <input type="text" name="searchbtn" class="form-control" placeholder="Articles" aria-label="search">
        </div>
      </form>
      <div class="varukorg">
        <a href="/varukorg">
          <img src="../static/images/shoppin.jpg" alt="" class="varukorg">
        </a>
    </div>
    </div>
  </nav> <!--  Navbar end -->

    {% block body %}{% endblock %} <!-- Start of Unique body code-->

    <!-- Start of endPage -->
    <footer id=footer>
    <div class="container-fluid endOfPage">
      <div class="row row-cols-3" >
        <div class="col col-md-4">
          <a href="https://www.instagram.com/robin__olofsson/">
            <img class="icon bg-dark" src="../static/images/insta2.jpg" alt="">
          </a>
        </div>
        <div class="col cold-md-4">fan </div>
        <div class="">fan</div>
      </div>
    </div> <!-- End of endPage -->
  </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>