{% extends 'base.html' %}

{% block head %}
<style>
    .box {
        background-color: gray;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        margin-right: 40px;

    }
</style>
   {% endblock %}
{% block body %}
    <h1> Search results for {{search}} </h1>
   <div class = page>
    
    {% for item in products %}
    <form action="" method ="POST">

            <div class = "box" value = {{item[0]}}>
                Artikel: {{ item[1]}}
                <button type="submit" name="addBtn" value="{{item[0]}}">
                    Add 1
                </button>
                <button type="submit" name="removeBtn" value="{{item[0]}}">
                    Remove 1
                </button>
                <img src={{"../static/images/ITEM_" + item[0]|string + ".jpg"}} style="width:160px;height:120px;">
                <button type="submit" name="itemInfo" value="{{item[0]}}">
                    Item info
                </button>
            </div>

        
        </form>
    {% endfor %}
 
   </div>

{% endblock %}