{% extends 'baseUserprofile.html' %}

{% block head %}
<style>
.costum-container{
    margin: auto;
    margin-top: 6%;
    height: 500px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 32px 0px #000000; 
    box-shadow: 0px 0px 32px 0px #000000;
}
.img-div{
    
    height:auto;
}
.info-container{
    
}
.costum-table{
    margin: auto;
    margin-top: 10%;
}
</style>
{% endblock %}

{% block body %}
<div class="container costum-container">
    <div class="container row">
        <div class="col-s costum img-div">
            <img src="../static/images/userIcon.png" alt="">
        </div>
        <div class="col info-container">
            <table class="table table-dark table-striped costum-table">
                <thead>
                  <tr>
                    <th scope="col">Profile specification</th>
                    {% if session['role'] == 'admin' %}
                    <th scope="col">Admin</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Firstname:</th>
                    <td class="col-s">{{userInfo[0]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Last name:</th>
                    <td>{{userInfo[1]}}</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td>{{userInfo[2]}}</td>
                    
                  </tr class="hover">
                  <tr>
                    <th scope="row">Password:</th>
                    <td>******</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="container">
        <button class="btn btn-danger float-right">Change password</button>
    </div>
</div>
{% endblock %}