{% extends 'baseUserprofile.html' %}

{% block head %}
<style>
.costum-container{
    margin: auto;
    margin-top: 6%;
    padding-bottom: 20px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 32px 0px #000000; 
    box-shadow: 0px 0px 32px 0px #000000;
}
.img-div{
    
    height:auto;
}
.info-container{
    
}
.costum-table{
    margin: auto;
    margin-top: 10%;
}
</style>
{% endblock %}

{% block body %}
<div class="container costum-container">
    <div class="container row">
        <div class="col-s costum img-div">
            <img src="../static/images/userIcon.png" alt="">
        </div>
        <div class="col info-container">
            <table class="table table-dark table-striped costum-table">
                <thead>
                  <tr>
                    <th scope="col">Profile specification</th>
                    {% if session['role'] == 'admin' %}
                    <th scope="col">Admin</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">First name:</th>
                    <td class="col-s">
                      {{userInfo[0]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Last name:</th>
                    <td>{{userInfo[1]}}</td>
                   
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td>{{userInfo[2]}}</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Password:</th>
                    <td>******</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Money:</th>
                    <td>{{userInfo[3]}}</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="container">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Change user information</a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Change password</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addMoney" aria-expanded="false" aria-controls="addMoney" >Add Money</button>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <form method="POST">
                <div class="form-group">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fname" value="{{userInfo[0]}}">
                </div>
                <div class="form-group">
                  <label for="Last">Last name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="lname" value="{{userInfo[1]}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{userInfo[2]}}">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary" name="submitUser" value="submitUser">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <form method="POST">
                <div class="form-group">
                  <label for="OriginalPw">Your current password</label>
                  <input type="password"  name="Password" class="form-control" >
                </div>
                <div class="form-group">
                  <label for="newPassword">New password</label>
                  <input type="password"  name="newPassword"class="form-control" >
                </div>
                <div class="form-group">
                  <label for="newPasswordAgain">Enter the password again</label>
                  <input type="password"  name="newPasswordAgain" class="form-control">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" name="submitPass" value="submitPass">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="collapse multi-collapse" id="addMoney">
            <div class="card card-body">
              <h2 class="lead">Here you can add to your balance:</h2>
              <form method="POST">
                <div class="form-group">
                  <label for="MakeMoney">Enter your value in :-</label>
                  <input type="numbers" class="form-control" name="makeMoney">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" name="addMoneyBtn" value="addMoneyBtn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                    <div class="alert alert-info" role="alert">
                      {{msg}}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
    </div>
</div>
{% endblock %}