<!DOCTYPE html>
<html lang="en">
<style>
    .box {
        background-color: gray;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        margin-right: 40px;

    }
</style>
<head>

   <h1> Search results for {{search}} </h1>


</head>
<body>

   <div class = page>
    
    {% for item in products %}
    <form action="" method ="POST">

            <div class = "box" value = {{item[0]}}>
                Artikel: {{ item[1]}}
                <button type="submit" name="addBtn" value="{{item[0]}}">
                    Add 1
                </button>
                <button type="submit" name="removeBtn" value="{{item[0]}}">
                    Remove 1
                </button>
                <img src={{"../static/images/ITEM_" + item[0]|string + ".jpg"}} style="width:160px;height:120px;">
            </div>

        
        </form>
    {% endfor %}
 
   </div>

</body>



</html>
