{% extends 'base.html' %}

{% block head %}
<title>Varukorg</title>
<style>
.move{
    margin-top: 150px;
}
.shopcartImg{
  
}
.item-con{
    height: 150px;
}
.img-con{
    background-color: yellow;
    height: fit-content;
    width: fit-content;
}
.info{
    height:150px;
}


.intro{
    height: 150px;
}
.form-con{
    margin: auto;
    margin-top: 30%;
}
</style>
{% endblock %}

{% block body %}

<div class="container move">
    <div class="jumbotron">
        <div class="container intro row">
            <div class="col">
                <h1 class="display-4">Shopping cart!</h1>
            </div>
            <div class="col">
                <img src="../static/images/shoppin.jpg" id=shopcart class="img-thumbnail float-right shopcartImg" width="200px">
            </div>
        </div>
        <hr class="my-4">
        {% for item in infoAboutItems %}
        <div class="item-con row">
            <div class="img-con col-xs-6">
                <a href="">
                    <img class="shopcartImg img-thumbnail rounded float-left"" src={{"../static/images/ITEM_" + item[0]|string + ".jpg"}} width="200px">
                </a>
            </div>
            <div class="info col">
                <p class=" lead"> {{item[1]}}
                    <br>
                    {{item[2]}} :-
                </p>
            </div>
            <div class="amount-con col-s">
                    <div class="form-con">
                        <form method="POST">
                            <button type="submit" class="btn btn-danger" name="removeBtn" value="{{item[0]}}">-</button>
                            <input type="number" value="{{item[3]}}" min="1" max="123">
                            <button type="submit" class="btn btn-danger" value="{{item[0]}}" name="addBtn">+</button>
                        </form>
                    </div>
            </div>
        </div>
       
        <hr class="my-4">
        {% endfor %}
        
        
        <h2 class="float-right"> TOTAL: {{totalPrice}} kr</h2>
        <form method="POST">
            <button type="submit" class="btn btn-success" value = "confirmOrder" name="confirmOrderBtn"> Place order</button>
        </form> 
        <hr class="my-4">
        <a href="/search">Continue Shopping</a>
        <p class=" lead" >© 2020 YouBuyItWeSellIT Limited | All Rights Reserved. | Be a visionary</p> 
      </div>
</div>
{% endblock %}