{% extends 'base.html' %}

{% block head %}
<title>Varukorg</title>
<style>
.move{
    margin-top: 150px;
}
#shopcart{
    width: 200px;
    border-radius: 5px;
    float: right;
    position: relative;
    top: -70px;
}
.shopcartImg{
    width: 200px;
    border-radius: 5px;
    float: left;
}
.item-con{
    height: 150px;
}
.sum{
    position: relative;
    float: right;
    right: 20%;
}
.info{
    position: relative;
}
.amount-con{
    width: 20%;
    height: 100%;
    margin-top: -60px;
    float:right;
}
.intro{
    height: 150px;
}
.amount{
    display: block;
    
}
</style>
{% endblock %}

{% block body %}

<div class="container move">
    <div class="jumbotron">
        <div class="container intro">
        <h1 class="display-4">Shopping cart!</h1>
            <img src="../static/images/shoppin.jpg" id=shopcart alt="">
        
        </div>
        <hr class="my-4">
        {% for item in infoAboutItems %}
        <div class="container item-con">
           <a href="">
               <img class="shopcartImg" src={{"../static/images/ITEM_" + item[1]|string + ".jpg"}}>
           </a>
            <p class="info">här tänker jag man har produkt beskrivningen</p>
            <div class="amount-con">
                    <div class="container ">
                        <form method="POST">
                            <button type="submit" value="{{item[1]}}" name="removeBtn">-</button>
                            <input type="number" value="{{ item[2]}}" min="1" max="123">
                            <button type="submit" value="{{item[1]}}" name="addBtn">+</button>
                        </form>
                    </div>
            </div>
            
        </div>
       
        <hr class="my-4">
        {% endfor %}
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
        <hr class="my-4">
        <a href="/search">Continue Shopping</a>
        <form method="POST">
            <button type="submit" class="btn btn-success" value = "confirmOrder" name="confirmOrderBtn"> Place order</button>
        </form> 
        <h2 class="sum"> TOTAL </h2>
      </div>
</div>
{% endblock %}